<html>
  <head>
    <meta charset='utf-8' />
    <title>My Lightning Address</title>
    <style>
      html { height: 100%; padding: 0; margin: 0; } body { height: 100%; overflow: hidden; display:
      flex; flex-direction: column; justify-content: center; align-items: center; --tw-bg-opacity:
      1; background-color: rgba(229, 231, 235, var(--tw-bg-opacity)); } main { text-align: center; }
      a { text-decoration: none; color: #ffbf00 } footer { margin-top: 200px;}
    </style>
  </head>
  <body>
    <header></header>
    <main class='content'>
      {{{body}}}
    </main>

    <footer class='footer'>
      <a href='https://github.com/mefatbear/lightning-address-nodejs' target='_blank'>Source code by
        Fatbear</a>
    </footer>
  </body>
</html>